/* Agrega al inicio de tu CSS */
*, *::before, *::after {
  box-sizing: border-box;
}


/* Estilos generales */
.container {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* Sección de imagen */
.image-section {
  flex: 1;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Sección de login */
.login-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}

.login-card {
  width: 80%;
  max-width: 400px;
  padding: 2rem;
}

h1 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.welcome {
  color: #7d0ae1;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}


.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #359b39;
  font-weight: bold;
}


/* Inputs */
input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #4db978;
  border-radius: 5px;
  font-size: 1rem;
  color: #37983d;
  margin: 0; /* Elimina márgenes predeterminados */
}


.input:focus {
  border: 1px solid #4db978;
}

.links {
  margin: 1.5rem 0;
}

.forgot-password {
  color: #0066cc;
  text-decoration: none;
  font-size: 0.9rem;
}

.chi-info {
  color: #e6edd6;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #8b43ca;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s;
  margin: 0; /* Elimina márgenes */
}



.login-button:hover {
  background-color: #810d9b;
}

.back-button {
  width: 100%;
  padding: 0.75rem;
  background-color: white;
  color:  #8b43ca;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #199227;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .image-section {
    height: 40vh;
  }
  
  .login-section {
    height: 60vh;
  }
}